.App {
  color: aliceblue;
  text-align: center;
  background: rgb(3, 13, 36);
  background-size: cover;
}
img {
  width: 150px;
}

nav {
  background: linear-gradient(  
    rgb(14, 31, 80) 16%,
    rgba(2, 14, 41, 0.513) 55%
  ); 
  top: 0;
  width: 100%;
  position: fixed;
}
nav li {
  float: left;
  line-height: 60px;
  margin: 0px 20px;
  text-decoration: none;
  list-style: none;
}

 nav li a {
  list-style: none;
  color: wheat;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
} 

a:hover {
  color: rgb(80, 108, 185);
  font-size: 20px;
  font-weight: bolder;
}
form{
  float: right;
}
input{
  line-height: 30px;  
 
  font-size: 18px;
  font-weight: bolder;
  margin: 12px 20px;
 
}

#movie-search{
  line-height: 25px;  
  font-size: 17px;
  font-weight: bolder;
  margin: 20px 0px;
}

label{
  line-height: 30px;  
  color: wheat;
  font-size: 18px;
  font-weight: bolder;
  margin: 15px 0px;
}


/* Button Search navbar */
#movie-search-bttn{
  font-size: 18px;
  font-weight: bolder;
  color: wheat;
  border: none;
  background: transparent;
  width: 150px;
  height: 0px;
}
#movie-search-bttn span {
  background: rgb(0,172,238);
  background: linear-gradient(  
    rgb(14, 31, 80) 16%,
    rgba(2, 14, 41, 0.513) 55%
  );  
  display: block;
  position: absolute;
  top: 25px;
  width: 130px;
  height: 40;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 0;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#movie-search-bttn span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
#movie-search-bttn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
#movie-search-bttn:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#movie-search-bttn:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


.body{
  padding-top: 50px;
}

.movies{
  color: rgb(225, 236, 246);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  flex: 1;
}
.movie_div{
  padding: 15px;
  width: 280px;
  height: 480px;
}

/* Button Delete/Watched */
.select_button{
  border: none;
  width: 250px;
  height: 40px;
  color: #fff;
  line-height: 42px;
  font-size: 15px;
  font-weight: bolder;
  margin-top: auto;
  flex: none;
  box-shadow: none;
  position: relative;
  right: 20px;
  bottom: 20px;
  -webkit-perspective: 230px;
  perspective: 230px;
  background: transparent;
  cursor: pointer;
}

.select_button span {
  background: rgb(0,172,238);
  background: linear-gradient(  
    rgb(14, 31, 80) 16%,
    rgba(2, 14, 41, 0.513) 55%
  );  
  display: block;
  position: absolute;
  width: 250px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.select_button span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.select_button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.select_button:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.select_button:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.side{
  width: 550px;
  float: right;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.side img{
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

